.triangle{zoom:2}
.notranslate {pointer-events:none}
.notion-topbar {display:none}
.notion-sidebar-mobile {display:none !important;}
.whenContentEditable {pointer-events:none!important;}
.notion-topbar-mobile {display:none !important;}



* {font-size:13px!important}

.notion-scroller {pointer-events:all}
.notion-board-view {pointer-events:none}
.notion-board-view > div {pointer-events:all}
.notion-selectable-halo {background:transparent!important}
.notion-page-controls {display:none!important}
.notion-frame {background:linear-gradient(300deg, rgba(20, 18, 19, 1) 14%, rgba(28, 27, 25, 1) 85%)!important;filter:hue-rotate(5deg) saturate(.85) brightness(1.22) contrast(1.1);text-rendering: optimizeLegibility;}
.dragHandle,.plus {display:none!important;zoom:.1!important;pointer-events:none!important;margin-left:-20px!important}
.triangle {zoom:2;display:block!important;padding:1px;pointer-events:all!important}
.notion-peek-renderer {background:transparent!important}
.notion-peek-renderer > div:nth-child(2) {background:#000000bd!important;backdrop-filter:blur(4px)!important;color:white!important;filter:brightness(1.25)}
.notion-sidebar-container {display:none}
.notion-collection-view-item-add {visibility:hidden}
#notion-app > div > div:nth-child(1) > div > div:nth-child(2) > div.notion-frame > div > div.whenContentEditable > div:nth-child(3) > div > div:nth-child(1) > div > div:nth-child(2) {text-align:center!important;pointer-events:none!important}
.notion-toggle-block > div {border-radius:10px;padding:3px;padding-left:6px!important; }
.notion-toggle-block > div > div{margin-left:-8px!important; }
.notion-toggle-block {box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 5px;margin-top:4px!important;margin-bottom:4px!important;user-select: none!important;  }
.notion-board-group {box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 2.2px;}
#notion-app > div > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(1){background:transparent!important}
::-webkit-scrollbar{width: 7px!important;height:7px!important;}
::-webkit-scrollbar-thumb{background-color: #ada26f60!important;border-radius: 10px;}

.notion-peek-renderer {display:none!important}
